:root {
  --main-color: #181818;
  --secondary: #666;
  --line-color: #eee;
  --font-weight: 600;
  --red: #fecaca;
  --green: #b1e3bfff;
}

.body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline;
}

.dashboard-root {
    padding-top: 40px !important;
    padding: 80px;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    box-sizing: border-box;
}

.dashboard-balance-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
}
  
.balance-block {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.title-label {
    font-size: 52px;
    letter-spacing: -2px;
    font-weight: var(--font-weight);
    color: var(--main-color);
    margin-bottom: 10px;
}

.inout-blocks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: end;
    gap: 20px;
}

.inout-value {
    font-size: 32px;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 10px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    letter-spacing: -3px;
}

.perc-positive {
    letter-spacing: -1px;
    color: var(--green);
}

.perc-negative {
    letter-spacing: -1px;
    color: var(--red);
}

.single-inout-block {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 0px;
}

.inout-label {
    font-size: 52px;
    letter-spacing: -2px;
    font-weight: var(--font-weight);
    color: var(--main-color);
    margin-bottom: 10px;
}

.balance-value {
    font-size: 32px;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 10px;
}

.expenses-list-block {
  box-sizing: border-box;
}

.expenses-list-page {
  width: unset;
  max-width: unset;
  padding: 0px;
  margin-bottom: 20px;
}

.expenses-list-page .expense-item-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;  
  border-bottom: 1px solid var(--line-color);
  align-items: center;
  padding: 14px 0;
}

.expenses-list-page .expense-item-page .expense-desc {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expenses-list-page .expense-item-page .expense-cat {
  font-size: 14px;
  text-align: center;
  color: var(--secondary);  
}

.expenses-list-page .expense-item-page .expense-amount {
  font-size: 14px;
  font-weight: 500;
  color: var(--main-color);
  text-align: center; 
}

.expenses-list-page .expense-item-page .expense-date {
  font-size: 12px;
  font-weight: 300;
  color: var(--secondary);
  text-align: right; 
}


@media (max-width: 900px) {

  .dashboard-balance-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 390px) {

.dashboard-root {
    padding-top: 20px !important;
    grid-template-columns: 1fr;
  }

  .dashboard-balance-row {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
  }

  .inout-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    gap: 20px;
  }

  .inout-value {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .perc-negative {
    letter-spacing: -1px;
    color: var(--red);
  }

  .perc-positive {
    letter-spacing: -1px;
    color: var(--green);
  }

  .title-label {
    font-size: 42px;
}
  .inout-label {
    font-size: 42px;
  }

  .dashboard-root {
    padding: 40px;
  }

  .expenses-list-block {
    margin-bottom: 10px;
    box-sizing: border-box;
}

  .expenses-list-page {
    box-sizing: border-box;
    width: unset;
    max-width: unset;
    display: grid;
    margin: 0px;
    min-width: 300px;
    }

  .expense-item-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    border-bottom: 1px solid var(--line-color);
    align-items: center;
    padding: 14px 0;
    }
}



    


