:root {
  --main-color: #181818;
  --secondary: #666;
  --line-color: #eee;
  --spacing: 20px;
  --font-weight: 700;
  --spacingnew: 80px;
  --min-width-lb: 50vw;
}


svg {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.dashboard-root {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  margin: 60px;
}

.dashboard-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

/* ====== BILANCIO (IN/OUT) ====== */
.dashboard-balance-row {
  display: flex;
  justify-content: space-between;
}

.dashboard-balance-row .balance-block {
  display: flex;
 align-items: flex-start;
 flex-direction: column;
 min-width: var(--min-width-lb);
}

.dashboard-balance-row .balance-label {
  font-size: 52px;
  letter-spacing: -2px;
  font-weight: var(--font-weight);
  color: var(--main-color);
  margin-bottom: 5px;

}

.dashboard-balance-row .balance-value {
  font-size: 30px;
  letter-spacing: -2px;
  font-weight: var(--font-weight);
  color: var(--main-color);
  margin-bottom: 5px;
  white-space: nowrap;
}

/* ====== IN/OUT ====== */
.dashboard-balance-row .inout-blocks {
    display: flex;
    flex-direction: row;
    min-width: var(--min-width-lb);
    gap: 40px;
}

.dashboard-balance-row .inout-blocks .single-inout-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dashboard-balance-row .inout-blocks .single-inout-block .inout-label {
  font-size: 52px;
  letter-spacing: -1.5px;
  font-weight: var(--font-weight);
  color: var(--main-color);
  margin-bottom: 5px;
  white-space: nowrap;
}

.dashboard-balance-row .inout-blocks .single-inout-block .inout-value {
  font-size: 30px;
  font-weight: var(--font-weight);
  letter-spacing: -2px;
  color: var(--main-color);
  margin-bottom: 5px;
  white-space: nowrap;
}

.dashboard-balance-row .inout-blocks .single-inout-block .percentage-inout {
  font-size: 14px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  padding-left: 10px;
  gap: 2px;
}

/* ====== SPESE+CHART ====== */

.dashboard-main-row {
  display: flex;
  justify-content: space-between;
}
/* ===SPESE=== */

.dashboard-main-row .expenses-list-block {
  display: flex;
  align-items: flex-start; /* <-- allinea a sinistra */
  flex-direction: column;
  min-width: var(--min-width-lb);
}

.dashboard-main-row .expenses-list-block .section-title {
  font-size: 52px;
  letter-spacing: -2px;
  font-weight: var(--font-weight);
  color: var(--main-color);
  margin-bottom: 5px;
  white-space: nowrap;
}

.expenses-list {
  display: grid;
  margin: 0px;
  padding: 0px;
  width: min(450px, 35vh);
  justify-content: flex-start;
}

.expenses-list .expense-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;  
  border-bottom: 1px solid var(--line-color);
  align-items: center;
  padding: 14px 0;
}

.expenses-list .expense-item .expense-desc {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expenses-list .expense-item .expense-cat {
  font-size: 14px;
  text-align: center;
  color: var(--secondary);  
}

.expenses-list .expense-item .expense-amount {
  font-size: 14px;
  font-weight: 500;
  color: var(--main-color);
  text-align: center; 
}

.expenses-list .expense-item .expense-date {
  font-size: 12px;
  font-weight: 300;
  color: var(--secondary);
  text-align: right; 
}

/* ===SPESE=== */

.dashboard-main-row .chart-block {
  display: flex;
  flex-direction: column;
  gap: 12;
  min-width: var(--min-width-lb);
  padding-bottom: 65px;
  
}

.dashboard-main-row .chart-block .section-title {
  font-size: 52px;
  letter-spacing: -2px;
  font-weight: var(--font-weight);
  color: var(--main-color);
  margin-bottom: 5px;
  white-space: nowrap;
}

.dashboard-main-row .chart-block .balance-chart-container {
  width: max-content;
  height: 118%;
  position: relative;
  border-radius: 2%;
  border:  var(--line-color) .5px solid;
  max-width: 100%;
}

@media (min-width: 390px) and (max-width: 950px) {

  .dashboard-root {
    overflow-x: hidden;
    margin: unset;
    margin-Top: 20px;
    margin-bottom: 50px;
  }

  .dashboard-main-row .expenses-list-block {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: max-content;
  }

  .expenses-list {
    width: unset;
  }

  .dashboard-grid {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .dashboard-balance-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* <-- Allinea a sinistra */
    min-width: unset;
    width: unset;
    box-sizing: border-box;
    gap: 10px;
  }

  .dashboard-balance-row .balance-block {
    display: flex;
    flex-flow: column wrap;
    box-sizing: border-box;
    min-width: unset;
  }

  .dashboard-main-row {
    display: flex;
    flex-direction: column;
    gap: 20px
  }

  .dashboard-main-row .chart-block {
    margin: 0px;
    width: 100%;
    transform: unset;
    align-items: flex-start;
  }

  .dashboard-main-row .chart-block .balance-chart-container {
    width: 100%;
    margin: 0;
    transform: unset;
  }
}

@media (max-width: 390px) {

  .expenses-list {
    width: unset;
  }

  .expenses-list-block {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: max-content;
  }

  .dashboard-root {
    overflow-x: hidden;
  }

  .dashboard-grid {
    display: flex;
    align-items: center;
    padding: auto;
    gap: 20px;
  }

  .dashboard-balance-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* <-- Allinea a sinistra */
    min-width: unset;
    transform: unset;
    box-sizing: border-box;
    gap: 10px;
  }

  .dashboard-balance-row .balance-block {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    min-width: unset;
  }
   
  .dashboard-balance-row .balance-label {
    font-size: 42px;
    margin-bottom: 0;
  }

  .dashboard-balance-row .inout-blocks {
    display: grid;
    grid-auto-flow: column;
    min-width: unset;
    gap: 20px
  }

  .dashboard-balance-row .balance-value {
    font-size: 40px;
  }

  .dashboard-balance-row .inout-blocks .single-inout-block .inout-label {
    font-size: 42px;
    margin-bottom: 0;
  }

  .dashboard-balance-row .inout-blocks .single-inout-block .inout-value {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    gap: 5px
  }

  .dashboard-balance-row .inout-blocks .single-inout-block .percentage-inout {
    padding-left: 0;
  }
  
  .dashboard-main-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
  }

  .dashboard-main-row .expenses-list-block .section-title {
    font-size: 42px;
  }

  .dashboard-main-row .expenses-list .expense-item {
    display: grid;
    min-width: 300px;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    border-bottom: 1px solid var(--line-color);
    align-items: center;
    padding: 12px 0;
  }

  .dashboard-main-row .expenses-list .expense-item .expense-desc {
    font-size: 12px;
  }

  .dashboard-main-row .expenses-list .expense-item .expense-cat {
    font-size: 12px; 
  }

  .dashboard-main-row .expenses-list .expense-item .expense-amount {
    font-size: 12px;   
  }

  .dashboard-main-row .expenses-list .expense-item .expense-date {
    font-size: 12px;
    text-align: right; 
  }

  .dashboard-main-row .chart-block {
    margin: 0px;
    transform: unset;
    align-items: flex-start;
    box-sizing: border-box;
    min-width: unset;
  }


  .dashboard-main-row .chart-block .section-title {
    font-size: 42px;
    transform: unset;
  }

  .dashboard-main-row .chart-block .balance-chart-container {
    width: 118%;
    border-radius: 2%;
    border:  var(--line-color) .5px solid;
  }
}
